<h1>Pipes <small>review</small></h1>
<hr>
<div class="row">
    <div class="col">
        <div class="table">
            <thead class="thead-dark">
                <tr>
                    <th>data</th>
                    <th>Pipe</th>

                    <th>result</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{name}}</td>
                    <td>Uppercase</td>
                    <td>{{name | uppercase}}</td>
                </tr>
                <tr>
                    <td>{{name}}</td>
                    <td>lowerCase</td>
                    <td>{{name | lowercase}}</td>
                </tr>
                <tr>
                    <td>{{name}}</td>
                    <td>Slice: 4</td>
                    <td>{{name | slice:4}}</td>
                </tr>
                <tr>
                    <td>{{name}}</td>
                    <td>Slice:0: 7</td>
                    <td>{{name | slice:0:7}}</td>
                </tr>
                <tr>
                    <td>{{smallArray}}</td>
                    <td>Slice:0: 4</td>
                    <td>{{smallArray | slice:0:4}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>decimals:'3.0-0'</td>
                    <!-- <td>{{PI | number:'1.-0-0' }}</td> -->
                    <td>{{PI | number: '3.0-0'}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number:'3.0-0'</td>
                    <!-- give me the number and 2 decimals -->
                    <td>{{PI | number: '.0-2'}}</td>
                </tr>
                <tr>
                    <td>{{percentage}}</td>
                    <td>percentage | percent</td>
                    <td>{{percentage | percent}}</td>
                </tr>
                <!-- my percentage format(two enter numbers and one dcimals) -->
                <tr>
                    <td>{{percentage}}</td>
                    <td>percentage | percent:'2.1-1'</td>
                    <td>{{percentage | percent:'2.1-1'}}</td>
                </tr>
                <tr>
                    <td>{{monthlyPayment}}</td>
                    <td>monthlyPayment | currency</td>
                    <td>{{monthlyPayment | currency}}</td>
                </tr>
                <!-- adding local currency -->
                <tr>
                    <td>{{monthlyPayment}}</td>
                    <td> monthlyPayment | currency:'GTQ'</td>
                    <td>{{monthlyPayment | currency:'GTQ'}}</td>
                </tr>
                <!-- pass only the symbol currency and quit decimals is well -->
                <tr>
                    <td>{{monthlyPayment}}</td>
                    <td> monthlyPayment | currency:'GTQ':'symbol-narrow':'.0-0'</td>
                    <td>{{monthlyPayment | currency:'GTQ':'symbol-narrow':'.0-0'}}</td>
                </tr>
                <tr>
                    <td>{{promiseExample}}</td>
                    <td> async</td>
                    <td>{{promiseExample | async}}</td>
                </tr>
                <tr>
                    <td>{{date}}</td>
                    <td> date | date</td>
                    <td>{{date | date}}</td>
                </tr>
                <tr>
                    <td>{{date}}</td>
                    <td> MMMM- dd</td>
                    <td>{{date | date:'MMMM- dd'}}</td>
                </tr>

                <tr>
                    <td>{{name}}</td>
                    <td> pass: {{active}}

                        <br>
                        <button (click)="active =!active" class="buttonn">active/unactive</button>
                    </td>
                    <td>{{name | pass: active}}</td>
                </tr>

            </tbody>




            <h3>normal ngfor</h3>
            <ul>
                <li *ngFor="let item of smallArray">{{item}}</li>
            </ul>
            <h3>ng for with slice 0:3</h3>
            <ul>
                <li *ngFor="let item of smallArray | slice:0:3"> {{item}}</li>
            </ul>

        </div>
    </div>
</div>
<h3>Json</h3>
<hr>
<div class="row mb-5">
    <div class="col">
        <pre>
        {{nobelPrize | json}}

      </pre>
    </div>
</div>