<h1>Pipes <small>review</small></h1>
<hr>
<div class="row">
    <div class="col">
        <div class="table">
            <thead class="thead-dark">
                <tr>
                    <th>data</th>
                    <th>Pipe</th>

                    <th>result</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{name}}</td>
                    <td>Uppercase</td>
                    <td>{{name | uppercase}}</td>
                </tr>
                <tr>
                    <td>{{name}}</td>
                    <td>lowerCase</td>
                    <td>{{name | lowercase}}</td>
                </tr>
            </tbody>

        </div>
    </div>
</div>